
@model DotNetCoreDemos.Models.EmployeeAddViewModel;


@{
    Layout = "~/Views/shared/_Layout.cshtml";
}

<div>
    employee add
</div>


    <form asp-controller="Employee" asp-action="Add">

        <label asp-for="Employee.Name"></label>   :<input asp-for="Employee.Name" /><br />
      <label asp-for="Employee.Lastname"></label> <input asp-for="Employee.Lastname" /><br />
        <label asp-for="Employee.CityCode"></label> <select asp-for="Employee.CityCode" asp-items="Model.Cities" ></select><br />
 
        <button type="submit">Add</button>
    </form>

    <br />
    <br />

  <category-list>
       
  </category-list>

@section MySection{
    som content
 }

